<div class="form-group">
  <label>Robot name</label>
  <input type="text" ng-model="vis.params.robot" class="form-control">

	<label>TAG</label>
	<input type="text" ng-model="vis.params.tag" class="form-control">

  <label>Action</label>
  <input type="text" ng-model="vis.params.action" class="form-control">

  <label>Minimal value</label>
  <input type="text" ng-model="vis.params.min" class="form-control">

  <label>Maximal value</label>
  <input type="text" ng-model="vis.params.max" class="form-control">

  <label>Stick to value</label>
  <input type="text" ng-model="vis.params.stick" class="form-control">
</div>
